<div class="login jumbotron center-block text-center">
  <h1>Login</h1>
  <div>

    <div class="form-group text-left">
      <label>Nom</label>
      <input class="form-control" type="text" [(ngModel)]="email" placeholder="email">
    </div>

    <div class="form-group text-left">
      <label>Mot de passe</label>
      <input class="form-control" type="password" [(ngModel)]="password" placeholder="password">
    </div>

    <div class="form-group text-center">
      <button (click)="loginWithGoogle()" class="btn btn-primary">
        Login with Google &nbsp;
        <i class="fa-1x fa fa-google-plus"></i>
      </button>
    </div>

    <button class="btn btn-default" (click)="signUp()" [disabled]="!email || !password">
      signUp
    </button>

  </div>
</div>
