<h1 align="center">COOKING SHOP</h1>

<br>
<h3>Gestion produits</h3>

<br>

<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">Ajouter produit</a>
</p>
<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>
<data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
    <data-table-column [property]="'title'" [header]="'Title'" [sortable]="true" [resizable]="true">

    </data-table-column>

    <data-table-column [property]="'price'" [header]="'Price'" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            {{ item.price | currency:'USD':true }}
        </ng-template>
    </data-table-column>

    <data-table-column [property]="'$key'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/admin/products/', item.$key]">Modifier</a>
        </ng-template>
    </data-table-column>


</data-table>


<table class="table">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Prix</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of filteredProducts">
        <td>{{ p.title }}</td>
        <td>{{ p.price }}</td>
        <td><a [routerLink]="['/admin/products/', p.$key]">Modifier</a></td>
    </tr>
    </tbody>
</table>
