<h1>Panier</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    Vous avez {{cart.totalItemsCount}} article(s) dans votre panier. <button *ngIf="cart.items.length" (click)="clearCart()"
                                                                           class="btn btn-light btn-sm">Supprimer article
  </button>
  </p>

  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Produit</th>
      <th class="text-center" style="witdh: 230px">Quantité</th>
      <th class="text-right" style="width: 200px">Prix</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cart.items">
      <td>
        <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
      </td>
      <td>
        {{ item.title }}
      </td>
      <td>
        <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
      </td>
      <td class="text-right">
        {{ item.totalPrice | currency:'USD':true }}
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th class="text-right">{{ cart.totalPrice | currency:'USD':true }}</th>
    </tr>
    </tfoot>
  </table>    <a *ngIf="cart.items.length" routerLink="/check-out"  class="btn btn-primary">Valider votre panier</a>

</div>




