<div class="login jumbotron center-block text-center">
  <h1>Login</h1>
  <form role="form">
    <div *ngIf="!(auth.user | async)">

      <div class="form-group text-left">
        <label>Username</label>
        <input class="form-control" type="text" [(ngModel)]="email" placeholder="email">
      </div>

      <div class="form-group text-left">
        <label>Password</label>
        <input  class="form-control" type="password" [(ngModel)]="password" placeholder="password">
      </div>

      <div class="form-group text-center">
        <button (click)="loginWithGoogle()" class="btn btn-primary">Login with Google</button>
      </div>

      <button (click)="signUp()" [disabled]="!email || !password">
        signUp
      </button>
    </div>
  </form>
</div>
