<h1 align="center">COOKING SHOP</h1>
<br>

<h3>Gestion commandes</h3>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders$ | async">
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.datePlaced | date}}</td>
    </tr>
  </tbody>
</table>
