
<h1 align="center">COOKING SHOP</h1>

<br>
<br>
<h2>Votre paiement vient d'être validé !!!</h2>

<br>

<p>
  Nous vous remercions d'avoir commandé chez nous, votre commande est en cours de validation.
</p>

<p>Vous allez recevoir un mail de confirmation dans les prochaines minutes.</p>

<p>A bientôt !</p>
