<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Récapitulatif de la commande.</h4>
    <p class="card-text">Vous avez  {{ cart.totalItemsCount }} article(s) dans votre panier.</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
        {{ item.quantity }} x {{ item.title }}
        <div class="float-right">
          {{ item.totalPrice | currency: 'USD': true }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
          Total
        <div class="float-right">
          {{ cart.totalPrice | currency:'USD':true }}
        </div>
      </li>
    </ul>
  </div>
</div>
