/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$primary-color: #c1d62e;

body { padding-top: 80px; }

.navbar-light .navbar-brand {
  color : $primary-color;
}

.list-group-item.active {
  background-color: $primary-color;
  border-color: $primary-color;
}


